:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  margin-left: 4rem;
  margin-right: 2rem;
  margin-top: 2rem;
}

h2 {
  margin-top: 0;
}

button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.2rem;
  border-width: 1px;
}

.stg-btn {
  width: 10rem;
  margin-top: 0.5rem;

  &.disgard {
    background-color: #ff7575;
  }

  &.busy {
    background-color: #c6c6c6;
  }
}

.icon-img {
  height: 70px;
  margin-bottom: 2rem;
}