[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "asyncpg>=0.31.0",
    "fastapi[standard]>=0.118.0",
    "loguru>=0.7.3",
]

[dependency-groups]
dev = [
    "ruff>=0.13.3",
]
